/*FONT*/

// *************** \\
// **** HEADER **** \\
// *************** \\

/*MENU*/
header {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 2px 23px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 23px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 23px -7px rgba(0, 0, 0, 0.75);
  background: white;
  position: fixed;
  top: 0px;
}

header nav.main-nav {
  max-width: 1280px;
  display: block;
  margin: 0 auto;
  font-family: $mainFont;
}


header nav.main-nav form#searchform {

  display: inline-block;
  margin-top: 25px;
  position: absolute;

}

header nav.main-nav form#searchform input:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;

}

header nav.main-nav li.menu-item {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
  color: black;
  vertical-align: bottom;
  text-transform: uppercase;
  font-family: $mainFont;

}

header nav.main-nav li.lang-item {
}

header nav.main-nav li.menu-item:hover {
  border-bottom: 1px #e30513 solid;
}

header nav.main-nav li.menu-item:nth-child(1):hover {
  border: none;
}

header nav.main-nav li.menu-item:nth-child(1) {
  background: url("../img/LOGO.PNG") no-repeat;
  width: 170px;
  height: 41px;
  text-align: left;
  font-size: 0;
  vertical-align: middle;
  margin-top: 8px;
  cursor: pointer;
}

header nav.main-nav ul {
  width: 1280px;
  margin: 0 auto;
  display: inline;

}

header nav.main-nav input {
  vertical-align: bottom;
  height: 25px;
  font-family: arial;
  color: #b6b6b6;
}

header div.container {
  margin: 0 auto;
}

/*SLIDER*/

div.slider {
  width: 100%;
  height: 900px;
  background: url("../img/slide1.jpg") no-repeat center center;
  margin-top: 12px;
  position: relative;
  z-index: -1;
}

div.slider h2 {
  font-family: "gotham-medium";
  font-size: 22px;
  text-transform: uppercase;
  max-width: 1280px;
  margin: 0 auto;
  padding: 180px 0px 40px 20px;
  text-align: left;
  background: url("../img/style-h2.jpg") no-repeat 22px 210px;
}

div.slider section span.chiffres {
  font-size: 22px;
  font-family: $mainFont;
}

div.slider section span.chiffres span {
  font-size: 25px;
  font-weight: bold;
}

div.slider section span.categorie_slide {
  font-size: 22px;
  font-family: $mainFont;
  font-weight: normal;
  text-transform: uppercase;
}

div.slider div.logo-rond {
  width: 74px;
  height: 74px;
  float: left;
  margin-left: 30px;
  display: inline-block;
  background: url("../img/logo-rond.PNG") no-repeat;
  margin-right: 30px;
  margin-top: -10px;
}

div.slider section span.categorie_slide span {
  font-size: 22px;
  font-family: $mainFont;
  font-weight: bold;
}

div.slider section:nth-child(2) {

  padding: 120px 10px 40px 220px;
  text-align: left;

}

div.slider section:nth-child(3) {

  right: 10px;
  position: absolute;
  top: 620px;
  padding: 0;
  margin: 0;
  width: auto;

}

div.slider section {
  max-width: 1280px;
  margin: 0 auto;
  color: white;
  margin-left: 30px;

}

div.slider div:nth-child(2) {
  background: url("../img/bg-texte-slider.PNG");
  width: 45%;
  padding: 20px 0px 20px 40px;
  float: left;
}

div.slider div:nth-child(3) {
  background: url("../img/bg-texte-slider.PNG");
  width: 35%;
  padding: 20px 0px 20px 40px;
  float: right;
  margin-top: 400px;
}

div.slider section > span {
  width: 50%;
}



a.login{
	  background: url("../img/login.PNG") no-repeat 0 0;
	width:33px;
	height:26px;
}

a.login:hover{
	  background: url("../img/login-actif.PNG") no-repeat 0 0;
	width:33px;
	height:26px;
}