 /*------------------------------------*\
     IMPORT FONT
 \*------------------------------------*/



@font-face {
    font-family: "gotham-light";
    src: url('../font/GOTHAM-LIGHT.ttf');
}
@font-face {
    font-family: "gotham-bold";
    src: url('../font/GOTHAM-BOLD.ttf');
}
@font-face {
    font-family: "gotham-medium";
    src: url('../font/GOTHAM-MEDIUM.ttf');
}

$mainFont: 'gotham-light';
$mainFontHeavier: 'OpenSans-Semibold';
$mainFontHeavy: 'gotham-medium';
$mainFontLight:'OpenSans-Light';

 $grisClair : #bfc7d4;
 $grisFonce : #1b1b1b;
 $blanc : #ffffff;
 $noir : #000000;
 $rouge : #e31013;
 $bleuFonce: #1e1c3c;
 $bleuClair: #0989cb;


 
$backgroundColor: $blanc;
$backgroundColorHeader: $noir;
$backgroundColorFooter: $grisFonce;

$textColor: $blanc;
$textColor2: $noir;
$textColor3: $rouge;
$textColor4: $grisFonce;
$textColor5: $grisClair;


/** Components */


 /*------------------------------------*\
     GENERAL SETTING
 \*------------------------------------*/
body{
    background: $backgroundColor;
    font-family: $mainFont, arial, sans-serif;
    width: 100%;
}

h1{
    font-family: $mainFontHeavy, arial, sans-serif;
}

h2{
    font-family: $mainFontLight, arial, sans-serif;
}
h3{
    font-family: $mainFontHeavy, arial, sans-serif;
}


h2, h3{
    text-transform:uppercase;
    margin-bottom:10px;
    font-size:35px;
    color:$textColor2;
}

p{
    font-family: $mainFont, arial, sans-serif;
    font-size:16px;
	margin-bottom:20px;
    color: $textColor2;
}

a{
    text-decoration: none;
    color: $textColor2;
}

a, a:hover, a:active, a:focus{
    font-family: $mainFont, arial, sans-serif;
}

form input {
    font-family: $mainFontHeavy, arial, sans-serif;
}
