/**** Uploads ****/
#form_upload .file {
  display: none;
}

#upload_modal {
  display: none;
  margin-top: 20px;
}

#upload_modal .header {
  height: 30px;
  line-height: 30px;

  .text {
    display: inline-block;
    padding-left: 10px;
  }
}

#upload_modal #uploads {

  .upload_container {
    margin: 5px 0;
    height: 30px;
    width: 100%;
  }

  .upload_container .upload_progress {
    background-color: #dddddd;
    position: relative;
    border-radius: 5px;
    width: 100%;

    .progress {
      width: 0;
      height: 100%;
      background-color: #e31013;
      border-radius: 5px;
    }

    .text {
      position: absolute;
      top: 5px;

      display: none;
      width: 100%;
      height: 100%;
      line-height: 100%;
      color: #ffffff;
    }
  }
}
